{% extends "layout/base.html" %}

{% block content %}
<body>
    <div class="hello_block">
        <section>
            <div class="section_content_hello">
                <h1>
                    Добро пожаловать в UNI — цифровую платформу университета будущего
                </h1>
            </div>
            <div>
                <p>
                    Университет, объединяющий знания, технологии 
                    и людей по всему Казахстану
                </p>
            </div>
        </section>
    </div>
    <div class="container_form">
        <div class="block_form">
            <div class="form">
                <div class="form_label">
                    <h3>
                        Чтобы продолжить как студент или преподаватель, введите свои данные
                    </h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="Логин" required>
                    </div>

                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Пароль" required>
                    </div>

                    <div class="form-group">
                        <button type="submit">Войти</button>
                    </div>
                </form>                
                <div class="background-information">
                    <p>
                        *Укажите логин и пароль, чтобы войти в систему и получить доступ к функциям платформы Uni
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}